
/* Stock chart CSS */

.axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.labelling {
    font-family: sans-serif;
    text-anchor: middle;
    font-size: 11px;
}

.head_labelling {
    font-family: sans-serif;
    text-anchor: middle;
    font-size: 11px;
}

.grid .tick {
    stroke: black;
    opacity: 0.1;
}

.grid path {
    stroke-width: 0;
}

#tooltip_chart {
    position: absolute;
    text-align: center;
    width: 160px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip_chart.hidden {
    display: none;
}

#tooltip_chart p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.window_text {
    font-size: 12px;
    font-family: sans-serif;
}

.rangeline {
    stroke-width: 1px;
    stroke: black;
    opacity: 0.7;
}

.legendtext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    font-size: 11px;
    background-color: white;
}
